<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>

    <meta charset="UTF-8">
    <body style="display: grid"> 
        <div class="section1">
            <div class="homeText">
                <!--<p th:text="'Hey there, ' + ${user.firstname}"></p>-->
                <p>My First Spring !</p>
                <p class="credit">By quan afoon</p>
            </div>
        </div>
        <div class="section2">
            <h1> Login </h1>
            <form action="/login" method="GET" class= "loginForm">
                <div class="input-field">
                    <input class="formField" style="text-align:center" type="text" id="firstname" placeholder="firstname" required>
                </div>
                <div class="input-field">
                    <input class="formField" type="text" id="lastname" placeholder="lastname" required>
                </div>
                <button type="submit" class="btn" id="loginBtn">Login</button>
            </form>
            <div style="display: flex; margin-top:5vh">
                <p class="simpleText"> Don't have an account? </p>
                <button style="margin-left:1vw" class="btn-small"> Sign up </button>
            </div>
        </div>
    </body>
</html>